@import "lesshat";

body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/images/bricks.jpg');
  height: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0);

}

div.alarm-clock-app {
  border: 1px solid lightgrey;
  margin: 0 auto;
  width: 300px;
  .border-radius(10px);
  background-color: #fff;
  padding: 20px;
  .box-shadow(~"0 1px 10px gray");
  .current-time {
    text-align: center;
  }

  h1 {
    font-size: 3em;
    margin-top: 0px;
    margin-bottom: 5px;
    color: coral;
    text-shadow: 1px 1px white, 2px 2px 3px gray;
  }

  ul {
    margin: 10px 0;
    padding: 0;
    width: 293px;
    li.alarm {
      position: relative;
      padding: 3px 5px;
      .border-radius(3px);
      margin: 0 0 3px 0;
      list-style: none;
      &.active {
        background-color: lightgoldenrodyellow;
      }
      input {
        position: absolute;
        vertical-align: middle;
        right: 0;
      }
    }

  }

  form.add-alarm-form {
    position: relative;
    input {
      border: 1px solid darkgrey;
      .border-radius(2px);
      padding: 1px;
    }

    input[type=date] {
      vertical-align: baseline;
      margin-right: 5px;
      width: 125px;
    }
    input[type=time]{
      vertical-align: baseline;
      width: 90px;
      margin-right: 5px;
    }
    input[type=submit] {
      vertical-align: baseline;
      padding: 4px 5px;
      .gradient(~"linear-gradient(top, rgba(255,183,107,1) 0%,rgba(255,167,61,1) 50%,rgba(255,124,0,1) 51%,rgba(255,127,4,1) 100%)");
      border-color: lightblue;
      color: white;
      text-shadow: 1px 1px gray;
      font-weight: bolder;
      cursor: pointer;
      position: absolute;
      right: 0;
    }
    input[type=submit]:hover {
      border-color: orange;
    }
    input[type=submit]:active {
      .gradient(~"linear-gradient(top, rgba(255,127,4,1) 0%,,rgba(255,124,0,1) 50%,rgba(255,167,61,1) 51%,rgba(255,183,107,1) 100%)");
    }
  }
  div.text-error{
    color: darkorange;
  }
}