<!DOCTYPE html>
<html>
  <head>
    <title>Alarm Clock</title>
    <link type="text/css" rel="stylesheet" href="components/bootstrap.css/css/bootstrap.css" />
  </head>

  <body>
    <div class="main-view alarm-clock-app">
      <h2>Alarm Clock</h2>
      <div ng-controller="TimeDisplayController">
        <h1>{{currentTime}}</h1>
      </div>
      <div ng-controller="AlarmSetupController">
        <div class="al">Time left to next alarm: <span time-left></span></div>
        <div class="al">Alarms list: </div>
        <ul class="al">
          <li ng-repeat="alarm in alarms">
            <span>{{alarm}}</span>
          </li>
        </ul>
        <form class="al" ng-submit="addAlarm()">
          <input type="text" ng-model="alarmText" size="30" placeholder="add new alarm time here">
          <input current-time class="btn btn-primary" type="submit" value="add">
          <span class="text-error">{{errorText}}</span>
          <span class="text-success">{{alarmText | parseDate}}</span>
        </form>

      </div>
    </div>
    <script src="/components/requirejs/require.js" data-main='main.js'></script>
    <script>
        require(['app']);
    </script>



  </body>
</html>
