<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Alarm Clock</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="components/bootstrap.css/css/bootstrap.css" />
      <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  </head>

  <body>
    <div class="main-view alarm-clock-app">
      <div ng-controller="TimeDisplayController">
        <h1>{{currentTime}}</h1>
      </div>
      <div ng-controller="AlarmSetupController">
        <div>Time left to next alarm: <span time-left></span></div>
        <div>Alarms list: </div>
        <ul>
          <li ng-repeat="alarm in alarms">
            <span>{{alarm}}</span>
          </li>
        </ul>
        <form ng-submit="addAlarm()">
          <input type="text" ng-model="alarmText" size="30" placeholder="add new alarm time here">
          <input current-time class="btn btn-primary" type="submit" value="add">
          <span class="text-error">{{errorText}}</span>
          <span class="text-success">{{alarmText | parseDate}}</span>
        </form>

      </div>
    </div>
    <script src="/components/requirejs/require.js" data-main='main.js'></script>
    <script>require(['app']);</script>
  </body>
</html>
