extends layout

block content
  div.alarm-clock-app
    div(ng-controller="TimeDisplayController")
      h1.current-time {{currentTime}}
    div(ng-controller="AlarmSetupController")
      div Time left to next alarm:
        span(time-left) {{timeLeft}}

      ul
        li.alarm(ng-repeat="alarm in alarms", ng-class="active") {{alarm}}
          span(ng-show="active") Active
          input(type="checkbox", ng-model="active", name="active", ng-true-value="active", ng-false-value="")

      hr
      form.add-alarm-form(ng-submit="addAlarm()")
        input(type="date", ng-model="newAlarmDate")
        input(type="time", ng-model="newAlarmTime")
        input.btn.btn-primary(current-time, type="submit", value="Add")



  != js('components/require.js')
  != js('/javascripts/main.js')

  script require(['app']);
