doctype 5
html(lang='eng')
  head
    title 'Alarm Clock
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    != css('/components/bootstrap.css/css/bootstrap.css')
    != css('/stylesheets/style.css')
  body
    block content
